body {
    font-size: 62, 5%;
    margin: 0;
    padding: 0;

}

header {
    display: block;
    height: 60vh;
    background-image: url("img/festival1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vh 3vw;
        height: 10vh;
        background-color: none;

        a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-weight: 800;
            font-size: 3vw;
            font-family:cursive;
            margin-right: 2vw;

            &:hover {
                text-decoration: underline;
            }
        }

        button {
            color: white;
            font-size: 1.5vw;
            background-color: rgb(43, 86, 123);
            padding: 0.5rem;
            border: 0 solid;
            border-radius: 1rem;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
                background-color: rgb(33, 33, 74);
                transform: scale(1.05);
            }
        }
    }
}

main {
    padding: 4vh 10vw;
    background: rgb(255, 229, 197);

    section {
        h1{
            font-size: 4vw;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 800;
            color: rgb(43, 86, 123);
        }
        p{
            font-size: 1.8vw;
            font-family: Arial, Helvetica, sans-serif;

        }
    }

    form {

        margin: auto;

        input[type=text],
        select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        h1{
            font-size: 3vw;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 800;
            color: rgb(43, 86, 123);
        }
    }

    .adminContainer{
        width: 100%;

        table,
        th,
        td {
            border: 0.1rem solid white;
            text-align: center;

        }

        tr:nth-child(even) {
            background-color: #80808039;
        }


    
    }
}